@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .loader div {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  .loader div:nth-child(1) {
    top: 0%;
    left: 50%;
    background: #1e90ff;
    transform: translate(-50%, 0);
  }
  .loader div:nth-child(2) {
    top: 14%;
    left: 79%;
    background: #32cd32;
    transform: translate(-50%, -50%);
  }
  .loader div:nth-child(3) {
    top: 50%;
    left: 100%;
    background: #ff4500;
    transform: translate(-50%, -50%);
  }
  .loader div:nth-child(4) {
    top: 86%;
    left: 79%;
    background: #ffd700;
    transform: translate(-50%, -50%);
  }
  .loader div:nth-child(5) {
    top: 100%;
    left: 50%;
    background: #ff69b4;
    transform: translate(-50%, -50%);
  }
  .loader div:nth-child(6) {
    top: 86%;
    left: 21%;
    background: #ba55d3;
    transform: translate(-50%, -50%);
  }
  .loader div:nth-child(7) {
    top: 50%;
    left: 0%;
    background: #00fa9a;
    transform: translate(-50%, -50%);
  }
  .loader div:nth-child(8) {
    top: 14%;
    left: 21%;
    background: #ff6347;
    transform: translate(-50%, -50%);
  }
  
  .loader::after {
    content: "m";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #6b31a9;
  }
  
  /* styles.css */
  .fixed {
    position: fixed;
  }
  
  .top-4 {
    top: 1rem;
  }
  
  .right-4 {
    right: 1rem;
  }
  
  .left-4 {
    left: 1rem;
  }
  
  .bg-gray-800 {
    background-color: #2d2d2d;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  .w-48 {
    width: 12rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  