.bg-color-1 {
    background-color: red;
}

.bg-color-2 {
    background-color: blue;
}

.bg-color-3 {
    background-color: green;
}

.bg-color-4 {
    background-color: yellow;
}

.bg-color-5 {
    background-color: orange;
}

.bg-color-6 {
    background-color: purple;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;